@import "flex";
@import "variables";
@import "position";
html,
body,
input,
button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.main-container {
  width: 100%;
  height: 100%;
}
.slide-page {
  width: 15%;
  height: 94%;
  box-sizing: border-box;
  background-color: $bg-slider;
  .Menu {
    padding: 25px 0 0 25px;
    height: 35%;
    #Menu {
      font-size: 1.5em;
      color: $text-color;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .menu-list {
      a {
        display: block;
        color: $text-color-bold;
        font-size: 0.875em;
        font-style: normal;
        font-weight: 700;
        margin-top: 16px;
        transition: 0.3s;
        &:hover {
          transform: translateX(10px);
        }
      }
    }
  }
  .line {
    width: 80%;
    height: 1px;
    background-color: $bg-line;
    margin: auto;
  }
  #Library {
    padding: 20px;
    height: 65%;
    flex-direction: column;
    a {
      color: $text-color;
      font-size: 1.5em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .list-music {
      margin-top: 20px;
      .playlist {
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        img {
          margin-right: 24px;
          width: 56px;
        }
        .detail {
          h3 {
            color: $text-color-bold;
            font-size: 1em;
          }
          a {
            color: $text-color;
            font-size: 0.7em;
          }
        }
        &:hover {
          background-color: $bg-color;
          opacity: 0.8;
          box-shadow: 0 0 50px 11px rgba(23, 24, 29, 0.8);
        }
      }
    }
    #add-playlist {
      color: $text-color;
      font-size: 1em;
      margin-top: 10px;
      cursor: pointer;
      width: 80%;
      border-radius: 10px;
      padding: 5px;
      border: 1px solid $text-color;
      transition: 0.3s;
      &:hover {
        background-color: $bg-color;
        opacity: 0.8;
        border: none;
        box-shadow: 0 0 50px 11px rgba(23, 24, 29, 0.8);
      }
    }
  }
}
.player-control {
  width: 100%;
  padding: 10px 20px;
  background-color: $bg-color-1;
  .list-music {
    a {
      img {
        width: 40px;
        margin-right: 24px;
      }
    }
    .detail {
      h3 {
        color: $text-color-bold;
        font-size: 1em;
      }
      a {
        color: $text-color;
        font-size: 0.7em;
      }
    }
  }
  .control-bar {
    width: 40vw;
    flex-direction: column;
    .actions {
      margin-bottom: 10px;
      button {
        cursor: pointer;
        font-size: 1.25em;
        color: $text-color;
      }
      .pause {
        margin: 0 70px;
      }
    }
  }

  .duration-bar {
    width: 100%;
    span {
      color: $text-color;
      opacity: 0.5;
      font-size: 0.75em;
    }
    .left {
      margin-right: 5px;
    }
    .right {
      margin-left: 5px;
    }
    .time-bar {
      width: 80%;
      height: 5px;
      cursor: pointer;
      background-color: #fcd9b8;
      border-radius: 20px;
    }
  }
  .volume {
    i {
      color: #ffffff;
      font-size: 20px;
      cursor: pointer;
      margin-right: 5px;
      padding: 5px;
      border-radius: 50%;
    }
    .volume-bar {
      width: 100px;
      height: 5px;
      background-color: #ffffff;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}
header {
  width: 85%;
  padding: 20px;
  background-color: $bg-color;

  .arrows {
    margin-right: 60px;
    button {
      color: $text-color;
      font-size: 1.25em;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  form {
    width: 50%;
    .input-group {
      background-color: $bg-slider;
      padding: 10px;
      border-radius: 20px;
      label {
        font-size: 1em;
        color: #ffffff;
      }
      input {
        width: 95%;
        color: $text-color;
        opacity: 0.8;
        &::placeholder {
          color: $text-color;
          font-size: 0.875em;
        }
      }
    }
  }
  .account {
    margin-left: auto;
    img {
      width: 40px;
    }
    .name {
      color: $text-color;
      font-size: 1.25em;
      font-style: normal;
      font-weight: 700;
      margin-left: 15px;
    }
  }
}
.main-page {
  width: 85%;
  margin-left: auto;
  background-color: $bg-color;
  padding: 80px 0;
  section {
    padding: 20px;
    .title {
      h2 {
        color: $text-color;
        font-size: 2.5em;
        margin-right: 20px;
      }
      #play {
        font-size: 1.5em;
        color: $bg-color;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $text-color;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $text-color-bold;
          color: #ffffff;
        }
      }
    }
    .title-2 {
      margin: 10px 0;
      > .style {
        color: $text-color;
        font-size: 0.875em;
        margin-right: 10px;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        &:after {
          content: "";
          width: 0%;
          height: 1px;
          position: absolute;
          background-color: $text-color;
          bottom: -10px;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
        }
        &:hover {
          &::after {
            width: 100%;
            visibility: visible;
            opacity: 1;
          }
        }
        &.active.style:after {
          width: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
      .line {
        width: 100%;
        height: 1px;
        background-color: $bg-icon-color;
        margin-top: 10px;
      }
    }
    nav {
      ul {
        margin-bottom: 10px;
        > li {
          font-size: 0.7em;
          color: #fcd9b8;
          padding: 5px;
          margin-right: 10px;
          border: 1px solid #fcd9b8;
          border-radius: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        .unactive {
          &:hover {
            color: $text-color-bold;
            border: 1px solid $text-color-bold;
          }
        }
        .active {
          background-color: $text-color-bold;
          color: #ffffff;
          border: 1px solid $text-color-bold;
        }
      }
    }
    .media-list {
      max-height: 600px;
      overflow-y: scroll;
      .media-item {
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 15px;
        transition: 0.3s;
        cursor: pointer;
        .media-left {
          img {
            margin-right: 20px;
            width: 50px;
          }
          .detail {
            h3 {
              color: $text-color;
              font-size: 1em;
            }
            a {
              color: $text-color;
              font-size: 0.7em;
            }
          }
        }
        .media-right {
          .time {
            font-size: 1em;
            font-weight: 400;
            color: $text-color;
            margin-right: 15px;
          }
          button {
            font-size: 1em;
            font-weight: 600;
            color: $text-color;
            margin-right: 15px;
            cursor: pointer;
          }
          .like {
            color: #a50004;
          }
          .unlike {
            color: $text-color;
          }
        }
        &:hover {
          border-radius: 20px;
          background-color: #f17a37;
          box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.53) inset;
        }
      }
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: $text-color;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: $bg-icon-color;
      }
    }
  }
}
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba($bg-color, 0.8);
  display: none;
}
.addplaylist {
  padding: 20px;
  border: 1px solid $text-color-bold;
  border-radius: 10px;
  box-shadow: 0 0 4px 4px $bg-color-1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-color;
  max-width: 500px;
  h3 {
    color: $text-color-bold;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
  }
  input {
    width: 100%;
    border-bottom: 1px solid $text-color;
    color: $text-color;
    margin-bottom: 15px;
    &::placeholder {
      color: $text-color;
      font-size: 0.875em;
    }
  }
  .confirm {
    padding: 5px 10px;
    border: 1px solid $text-color;
    color: $text-color-bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $text-color-bold;
      color: #ffffff;
      border: 1px solid $text-color-bold;
    }
  }
}
.modal-2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba($bg-color, 0.8);
  display: none;
  .addToPlaylist {
    padding: 20px;
    border: 1px solid $text-color-bold;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px $bg-color-1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-color;
    input {
      padding: 5px 10px;
      border: 1px solid $text-color;
      margin-bottom: 20px;
      border-radius: 20px;
      color: $text-color;
      &::placeholder {
        color: rgba($text-color, 0.5);
        font-size: 0.875em;
      }
    }
    .list-item {
      cursor: pointer;
      padding: 5px 10px;
      transition: 0.3s;
      margin-bottom: 10px;
      i {
        font-size: 1em;
        color: $text-color;
        margin-right: 10px;
      }
      h3 {
        font-size: 1em;
        color: $text-color;
      }
      &:hover {
        background-color: $text-color-bold;
        opacity: 0.8;
        border-radius: 20px;
        i {
          color: #333;
        }
        h3 {
          color: #333;
        }
      }
    }
  }
}
// 
.play-pause {
  height: 54px;
  width: 54px;
  box-shadow: 0 0 5px var(--green);
  background: var(--slate-800);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.play-pause::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: inherit;
  background: var(--green);
}
.play-pause i {
  position: relative;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: inherit;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
