
<div class="player-control flex a-center j-between p-fixed b-0 l-0">
    <div class="list-music flex ">
        <a href=""><img src="image/Rectangle 33.png" alt=""></a>
        <div class="detail">
            <h3>Ghostmusic</h3>
            <a href="">Derva</a>
        </div>
    </div>
    <div class="control-bar flex a-center j-center">
                
                <div class="actions">
                    <button class="backward"> <i  class="material-symbols-rounded">skip_previous</i></button>
                    <button class="play-pause" ><i class="material-symbols-rounded">play_arrow</i></button>
                    <button class="forward">  <i  class="material-symbols-rounded">skip_next</i></button>
                </div>
                <div class="duration-bar flex a-center j-center">
                    <span class="tiem left">
                        
                    </span>
                    {{!-- Thanh audio và audio --}}
                    <div class="progress-area">
                        
                        <div class="progress-bar"></div>
                            <audio id="main-audio" src="" ></audio>
                     </div> 
                     {{!--Thời gian thanh nhạc  --}}
                      <div class="timer-duration">
                            <span class="current">0:00</span>
                            <span class="duration">--:--</span>
                      </div>
                    
                    </span>
                </div>

            </div>

            <div class="volume flex a-center">
                <i id="repeat-plist" class="material-symbols-rounded" title="Playlist looped">repeat</i>
                <i   class="material-symbols-rounded lyrics-details_btn">lyrics</i>
                <i class="material-symbols-rounded volume-btn">volume_up</i>               
                <input type="range" min="0" max="100" id="volume_input" value="100">
            </div>
        </div>
    </div>
</div>
 <script>
    
</script>
    
   <script src="/js/madeforyou.js"></script>