<header id="main-header" class="flex a-center p-fixed t-0 r-0">

    <div class="account flex a-center">
        <img src="/img/Ellipse 2.png" alt="">
        <a href="/login" id="loginButton">
            <h4 class="name">user</h4>
        </a>
    </div>

    

    <!-- thanh tìm kiếm nhạc -->
    {{!-- <form action="/search" class="search">
        <div class="input-group">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" name="query" id="search" placeholder="Search for music">
        </div>
    </form> --}}


    <!-- account -->

</header>