<!-- phần nội dung chính của website -->
<div class="main-page">
    <!-- banner của website  -->
    <div class="banner p-relative a-center j-center">
        <div class="list-banner flex a-center j-center">
            <div class="item">
                <img class="img1" src="/img/Rectangle 96.png" alt="slider image 1 ">
            </div>
            <div class="item">
                <img src="/img/Rectangle 95.png" alt="slider image 2">
            </div>
            <div class="item">
                <img class="img1" src="/img/Rectangle 95.png" alt="slider image 1 ">
            </div>
            <div class="item">
                <img src="/img/Rectangle 96.png" alt="slider image 2">
            </div>
        </div>
    </div>
    <!-- phần thứ nhất của web nghe nhạc  -->
    <section class="section-1">
        <!-- phần gợi ý nghe nhạc cho người dùng -->
        <div class="made-for-you">
            <div class="title flex j-between a-center   ">
                <h2>MADE FOR YOU</h2>
                <a id="made-for-you-page" href="/madeforyou">See All</a>
            </div>
            <div class="list-music flex a-center j-between ">
                <div class="music flex a-center ">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                    <button class="more-icon">
                        <i class="fa-solid fa-ellipsis"></i>
                        <ul class="drop-down-more">
                            <li><a href="#">Add playlist</a></li>
                            <li><a href="#">Add favourite song list</a></li>
                            <li><a href="#">Share</a></li>
                        </ul>
                    </button>
                </div>
                <div class="music flex a-center">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="#">Derva</a>
                    </div>
                </div>
                <div class="music flex a-center">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex a-center">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex a-center">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex a-center ">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex a-center ">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex  a-center">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex a-center ">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
                <div class="music flex  a-center">
                    <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                    <div class="detail">
                        <h3>Ghostmusic</h3>
                        <a href="">Derva</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- phần thứ hai của web nghe nhạc  -->
    <section class="section-2 flex  j-between ">
        <div class="section-left">
            <!-- xếp hạng các bài nhạc được nghe nhiều nhất  -->
            <div class="top-charts">
                <div class="title flex j-between a-center   ">
                    <h2>TOP CHARTS</h2>
                    <a id="top-chart-page" href="/topchart">See All</a>
                </div>
                <div class="media-list">
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart"><i class="fa-solid fa-heart unlike"></i></button>
                            <button><i class="fa-solid fa-plus plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="media-item flex a-center j-between">
                        <div class="media-left flex a-center ">
                            <a href=""><img src="image/Rectangle 33.png" alt=""></a>
                            <div class="detail">
                                <h3>Ghostmusic</h3>
                                <a href="">Derva</a>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="time">2:10</span>
                            <button class="heart unlike"><i class="fa-solid fa-heart"></i></button>
                            <button class="plus"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-right">
            <!-- danh sách các list nhạc có cùng chủ đề bài nhạc -->
            <div class="play-list">
                <div class="title flex j-between a-center   ">
                    <h2>PLAYLIST</h2>
                    <a id="playlist-page" href="/playlist">See All</a>
                </div>
                
                <div class="Music flex a-center j-between ">
                    {{#each playlistsong}}
                    <div class="list-song ">
                        <a class="song" href=""><img src="{{Image}}" alt=""></a>
                        <h4>{{Name}}</h4>
                        <a href="">{{Describe}}</a>
                    </div>
                    {{/each}}
                
                </div>
            </div>
            <!-- danh sách bài hát của các nghệ sĩ -->
            <div class="artist-wrapper">
                <div class="title flex j-between a-center   ">
                    <h2>Artist</h2>
                    <a id="playlist-page" href="/artist">See All</a>
                </div>
                <div class="artist-list flex a-center j-between ">
                    <div class="artist ">
                        <a class="song" href=""><img src=" ./image/Rectangle 5.png" alt=""></a>
                        <h4>Derva</h4>
                        <span>Artist</span>
                    </div>
                    <div class="artist">
                        <a class="song" href=""><img src=" ./image/Rectangle 5.png" alt=""></a>
                        <h4>Derva</h4>
                        <span>Artist</span>
                    </div>
                    <div class="artist ">
                        <a class="song" href=""><img src=" ./image/Rectangle 5.png" alt=""></a>
                        <h4>Derva</h4>
                        <span>Artist</span>
                    </div>
                    <div class="artist">
                        <a class="song" href=""><img src=" ./image/Rectangle 5.png" alt=""></a>
                        <h4>Derva</h4>
                        <span>Artist</span>
                    </div>
                    <div class="artist">
                        <a class="song" href=""><img src="./image/Rectangle 5.png" alt=""></a>
                        <h4>Derva</h4>
                        <span>Artist</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/js/main.js"></script>
