<div class="main-page">

    <section>
        <div class="title flex a-center">
            <h2>MADE FOR YOU</h2>
            <button id="play">
                <i class="fa-solid fa-caret-right"></i>
            </button>
        </div>
        <div class="title-2 flex a-center">
            <div class="song style">
                <h4>Song</h4>
            </div>
            <div class="album style">
                <h4>Album</h4>
            </div>
            <div class="line"></div>
        </div>
        <nav>
            <ul class="flex a-center">
                <li class="active">All</li>
                <li class="unactive">Viet Nam</li>
                <li class="unactive">US-UK</li>
                <li class="unactive">Korean</li>
            </ul>
        </nav>
        <div class="media-list">


            <div class="music-lyric">
                <i class="material-symbols-rounded copy-btn">content_copy</i>
                <div class="lyrics"></div>
            </div>
    </section>
</div>


<script src="/js/musicdata.js"></script>
<script src="/js/madeforyou.js"></script>

</html>