<div class="main-page">
    <section>
        <div class="title flex a-center">
            <h2>Present played</h2>
            <nav>
                <ul class="flex a-center">
                    <li class="style active Song">Song</li>
                    <li class="style  Album">Ablum</li>
                    <li class=" style Playlist">Playlist</li>
                </ul>
            </nav>
        </div>

        <div class="line"></div>
        <div class="Music flex a-center ">
            <div class="list-song ">
                <a class="song" href="../album/album.html"><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href="../album/album.html"><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href="../album/album.html"><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href=""><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href=""><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href=""><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href=""><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
            <div class="list-song ">
                <a class="song" href=""><img src=" ../image/Rectangle 5.png" alt=""></a>
                <a href="" class="name-list">Ghostmusic</a>
                <span href="">Derva</span>
            </div>
        </div>

        <div class="bottom-section">
            <div class="media-list">
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart"><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
                <div class="media-item flex a-center j-between">
                    <div class="media-left flex a-center ">
                        <a href=""><img src="../image/Rectangle 33.png" alt=""></a>
                        <div class="detail">
                            <h3>Ghostmusic</h3>
                            <a href="">Derva</a>
                        </div>
                    </div>
                    <div class="media-right">
                        <span class="time">2:10</span>
                        <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                        <button class="plus"><i class="fa-solid fa-plus "></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/presentplayed.js"></script>
{{!-- <script src="/js/presentplayed.js"></script> --}}