<div class="main-page">
    <section>
        {{!-- <div class="title-2 flex a-center">
            <div class="Song style active">
                <h4>Song</h4>
            </div>
            <div class="Album style ">
                <h4>Album</h4>
            </div>
            <div class="PlayList style">
                <h4>Playlist</h4>
            </div>
            <div class="line"></div>
        </div> --}}
        <div class="media-list">
            {{#each searchResults}}
            <div class="media-item flex a-center j-between">
                <div class="media-left flex a-center ">
                    <a href=""><img src="https://i.scdn.co/image/d6b657e803f59ddad8600f5fafe402b1d808f12d" alt=""></a>
                    <div class="detail">
                        <h3>{{song}}</h3>
                        <a href="">{{artist}}</a>
                    </div>
                </div>
                <div class="media-right">
                    <span class="time"></span>
                    <button class="heart "><i class="fa-solid fa-heart like"></i></button>
                    <button class="plus"><i class="fa-solid fa-plus "></i></button>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>

<script src="/js/madeforyou.js"></script>